@page "/Gestionar"
@inject HttpClient Http
@using Pages

<link rel="stylesheet" href="css/style_buscador_a.css">
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(0))">Libro</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(1))">Cliente</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(2))">Autor</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(3))">Prestamo</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(4))">Categoría</button>
    <button type="button" class="btn btn-primary"@onclick="@(() =>Nombre(5))">Editorial</button>
  </div>
</div>
<div class="input-group mb-3 mt-3 input-group-lg ">
  <span @onclick="Buscar" class="input-group-text" id="basic-addon1">
        <img  src="/images/icon_Search.svg" class="image-fluid" alt="">
  </span>
    <input id="Txt_Busqueda" type="text" class="form-control" placeholder="@Username" aria-label="Username" aria-describedby="basic-addon1" @bind="texto">
</div>
<div class="container text-center">
  <div class="row">
    <div class="col col-10 align-self-end">
        @switch (Tabla)
        {
            case "Libro":
                if(Visi){
                    texto = "";
                    <TLibros />
                    Visi = false;
                }else{

                }
                
                break;
            case "Cliente":
                if(Visi){
                    texto = "";
                    <TClientes />
                    Visi = false;
                }else{

                }

                break;
            case "Autor":
                    if (Visi)
                    {
                        texto = "";
                        <TAutores />
                        Visi = false;
                    }else{

                     }
                break;
            case "Prestamo":
                    if (Visi)
                    {
                        texto = "";
                        <TPrestamos />
                        Visi = false;
                    }else{

                      }
                break;
            case "Categoria":
                    if (Visi)
                    {
                        texto = "";
                        <TCategorias />
                        Visi = false;
                    }else{

                     }
                break;
            case "Editorial":
                
                    if (Visi)
                    {
                        texto = "";
                        <TEditorial />
                        Visi = false;
                    }else{

                      }
                break;
            default:
                @* Renderizar un componente predeterminado si no se cumple ninguna de las condiciones anteriores *@
                <img src="/images/Cargando.gif">
                
                
                break;
        }
        @if(Crear == true)
        {
            <CrearRegistro />

        }
    </div>
    <div class=" col align-self-start">
      <div class="row">
           <button @onclick="CrearDato" style="color: white; font-size: 30px; background-color: rgb(212, 170, 17); height:80px; width:80px; border-style: none; border-radius: 2px;">
            +
          </button>
      </div>
    </div>
  </div>
</div>

@code {
    string[] Nombres = {"Libro", "Cliente", "Autor", "Prestamo", "Categoria", "Editorial", "Fecha", "Nombre", "Apellido", "Correo", "Matricula", "Publicación" };
    private string nombre="Libor", Username="", Tabla = "", texto = "";

    void Nombre(int N){
        Username = Nombres[N];
        Tabla = Nombres[N];
        Filtros.Titulo = Nombres[N];
        Visi = true;
    }

    public bool Visi = true, Crear = false;

    void CambiarVisi()
    {
        if (Visi == true)
        {
            Visi = false;
        }
        else
        {
            if (Visi == false)
            {
                Visi = true;
            }
        }
    }

    void CrearDato()
    {
        if (Crear == true)
        {
            Crear = false;
            Visi = true;
        }
        else
        {
            Crear = true;
            Visi = false;
        }
    }

    void Buscar(){
        Console.WriteLine("Buscando: "+texto);
        Filtros.Busqueda = texto;
        CambiarVisi();
    }
  
}