@page "/Gestionar"
@inject HttpClient Http
<link rel="stylesheet" href="css/style_buscador_a.css">
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(0))">Libro</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(1))">Cliente</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(2))">Autor</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(3))">Préstamo</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(4))">Categoría</button>
    <button type="button" class="btn btn-primary"@onclick="@(() =>Nombre(5))">Editorial</button>
  </div>
</div>
<div class="input-group mb-3 mt-3 input-group-lg ">
  <span class="input-group-text" id="basic-addon1">
    <img src="/images/icon_Search.svg" class="image-fluid" alt="">
  </span>
  <input type="text" class="form-control" placeholder="@Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
@if(Tabla == "Libro"){
  <TLibros/>
}else{
  if(Tabla == "Cliente"){
    //es la de los clientes
    <TClientes/>
  }else{

    if(Tabla == "Autor"){
      <TAutores/>
    }else{

    }if(Tabla == "Préstamo"){
      <TPrestamos/>
    }else{
      
    }if(Tabla == "Categoría"){
      <TCategorias></TCategorias>
    }else{
      
    }if(Tabla == "Editorial"){
      <TEditorial/>
    }else{
      @* Por defecto *@
    }
  }
}

@code {
  public string nombre="Libor", Username="", Tabla = "";
  string[] Nombres = {"Libro", "Cliente", "Autor", "Préstamo", "Categoría", "Editorial", "Fecha", "Nombre", "Apellido", "Correo", "Matricula", "Publicación" };

    void Nombre(int N){
      Username = Nombres[N];
      Tabla = Nombres[N];
    }
}