@page "/Gestionar"
@inject HttpClient Http

<link rel="stylesheet" href="css/style_buscador_a.css">
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(0))">Libro</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(1))">Cliente</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(2))">Autor</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(3))">Préstamo</button>
    <button type="button" class="btn btn-primary" @onclick="@(() =>Nombre(4))">Categoría</button>
    <button type="button" class="btn btn-primary"@onclick="@(() =>Nombre(5))">Editorial</button>
  </div>
</div>
<div class="input-group mb-3 mt-3 input-group-lg ">
  <span class="input-group-text" id="basic-addon1">
    <img src="/images/icon_Search.svg" class="image-fluid" alt="">
  </span>
  <input type="text" class="form-control" placeholder="@Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="container text-center">
  <div class="row">
    <div class="col col-9 align-self-end">
      @if(Visi)
        {
          switch (Tabla)
          {
            case "Libro":
                <TLibros />
                break;
            case "Cliente":
                <TClientes />
                break;
            case "Autor":
                <TAutores />
                break;
            case "Préstamo":
                <TPrestamos />
                break;
            case "Categoría":
                <TCategorias />
                break;
            case "Editorial":
                <TEditorial />
                break;
            default:
                @* Renderizar un componente predeterminado si no se cumple ninguna de las condiciones anteriores *@
                <img src="/images/Cargando.gif">
                
                break;
           }
        }else{
          <img style="height: 200px;" src="https://ouch-cdn2.icons8.com/kGMrInx-qDkJiaT7inBBVfWVtXKL7uHlX3pZSjME0Qo/rs:fit:368:308/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMTA3/LzIwNjNkYjk3LWNj/NGQtNDhlMS1hNDBl/LWQ4ZjhlZGE2MTg2/Yi5wbmc.png"><img src="/images/Cargando.gif">
          <PanelN/>//////////////////////////////////////////////PANEL NUEVO
        }
    </div>
    <div class=" col col-1 align-self-start">
      <div class="row">
        <div class="col">
          <a href="/Di">
          a
          </a>
          <button @onclick="CambiarVisi" style="color: white; font-size: 30px; background-color: rgb(212, 170, 17); height:80px; width:80px; border-style: none; border-radius: 2px;">
            +
          </button>
        </div>
      </div>
      
    </div>
  </div>
</div>

@code {
  
  public Boolean Visi = true;
  public string nombre="Libor", Username="", Tabla = "";
  string[] Nombres = {"Libro", "Cliente", "Autor", "Préstamo", "Categoría", "Editorial", "Fecha", "Nombre", "Apellido", "Correo", "Matricula", "Publicación" };

    void Nombre(int N){
      Username = Nombres[N];
      Tabla = Nombres[N];
    }

    void CambiarVisi(){
      if(Visi == true){
        Visi = false;
      }else{
        if(Visi == false){
          Visi = true;
        }
      }
    }
}