@page "/PanelAgregarLibro"
@inject HttpClient Http

<h3>Nuevo Libro</h3>

<div class="container">
  <form>
    <div class="row">
      <div class="col-form-label">
        <label for="nombre">Nombre:</label>
      </div>
      <div class="col">
        <input type="text" class="form-control" id="nombre" @bind="nombre">
      </div>
    </div>
    <div class="form-group">
      <label for="paginas">Paginas:</label>
      <input type="number" class="form-control" id="paginas" @bind="paginas">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion:</label>
      <textarea class="form-control" id="descripcion" @bind="descripcion"></textarea>
    </div>
    <div class="form-group">
      <label for="edicion">Edicion:</label>
      <input type="number" class="form-control" id="edicion" @bind="edicion">
    </div>
    <div class="form-group">
      <label for="publicacion">Publicacion:</label>
      <input type="date" class="form-control" id="publicacion" @bind="publicacion">
    </div>
    <div class="form-group">
      <label for="categoria">Categoria:</label>
      <select class="form-control" @bind="categoria">
        <option value="">Seleccione una categoría</option>
        @foreach (var categoria in categorias)
        {
            <option value="@categoria.id">@categoria.nombre</option>
        }
    </select>
    </div>
    <div class="form-group">
      <label for="autor">Autor:</label>
      <select class="form-control" @bind="autor">
        <option value="">Seleccione un autor</option>
        @foreach (var autor in autores)
        {
            <option value="@autor.id">@($"{autor.nombre} {autor.apellido}")</option>
        }
    </select>
    </div>
    <div class="form-group">
      <label for="editorial">Editorial:</label>
     <select class="form-control" @bind="editorial">
        <option value="">Seleccione una editorial</option>
        @foreach (var editora in editoriales)
        {
            <option value="@editora.id">@editora.nombre</option>
        }
    </select>
    </div>
    <button type="button" class="btn btn-primary" @onclick="AgregarLibro">Agregar Libro</button>
  </form>
</div>


@code {
    private string nombre;
    private int paginas;
    private string descripcion;
    private int edicion;
    private DateTime publicacion;
    private string categoria;
    private string autor;
    private string editorial;

    //Listas de elementos
    private List<Categoria> categorias = new List<Categoria>();
    private List<Editorial> editoriales = new List<Editorial>();
    private List<Autores> autores = new List<Autores>();


    protected override async Task OnInitializedAsync()
    {
        categorias = await Http.GetFromJsonAsync<List<Categoria>>("https://localhost:7268/api/Categoria");
        editoriales = await Http.GetFromJsonAsync<List<Editorial>>("https://localhost:7268/api/Editorial");
        autores = await Http.GetFromJsonAsync<List<Autores>>("https://localhost:7268/api/Autores");
    }

    


    private async Task AgregarLibro()
    {
        try
        {
            var libro = new Libro
            {
                nombre = nombre,
                paginas = paginas,
                descripcion = descripcion,
                edicion = edicion,
                fecha_publicacion = publicacion,
                autor_id = autor,
                categoria_id = categoria,
                editorial_id = editorial
            };

            var response = await Http.PostAsJsonAsync("https://localhost:7268/api/Libro", libro);

            if (response.IsSuccessStatusCode)
            {

            }
            else
            {
                
            }
        }
        catch (Exception ex)
        {
            
        }
    }


    //Clases
    public class Libro
    {
        public string nombre { get; set; }
        public int paginas { get; set; }
        public string descripcion { get; set; }
        public int edicion { get; set; }
        public DateTime fecha_publicacion { get; set; }
        public string autor_id { get; set; }
        public string categoria_id { get; set; }
        public string editorial_id { get; set; }
    }

    public class Categoria
    {
        public string id { get; set; }
        public string nombre { get; set; }
    }

    public class Editorial
    {
        public string id { get; set; }
        public string nombre { get; set; }
    }

    public class Autores
    {
        public string id { get; set; }
        public string nombre { get; set; }
        public string apellido { get; set; }
    }


}